extends layout

block content
  div(class="container")
    h1= title
    p Welcome to #{title}

  script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
  != js('bootstrap')