doctype 5
html
  head
    title= title
    != css('bootstrap')
    != css('application')

  body
    div(class="navbar navbar-fixed-top")
      div(class="navbar-inner")
        div(class="container")
          a(class="brand") Bootstrap Test
          ul(class="nav")
            li(class="active")
              a(href="/") Home
            li
              a(href="/news") News

    block content

    div(class="navbar-fixed-bottom")
      div(class="container")
        p(class="muted credit")
          | This is test

    != js('lib/jquery-1.8.3.js')
    != js('lib/bootstrap')
    != js('application')

