doctype 5
html
  head
    title= title
    != css('bootstrap')
  body

    div(class="navbar")
      div(class="navbar-inner")
        a(class="brand") Bootstrap Test
        ul(class="nav")
          li(class="active")
            a(href="#") Home
          li
            a(href="#") News

    block content