extends layout

block content

  div(class="new-form")
    h4 Upload Form
    div(class="row")
      div(class="span6")
        form(class="upload-form form-horizontal", method="post", action="/", enctype="multipart/form-data")

          div(class="control-group")
            label(class="control-label") ファイル 
            div(class="controls")
              input(type="file", name="up-file", class="file-input")

          div(class="control-group")
            label(class="control-label") 説明
            div(class="controls")
              textarea(name="description")

          div(class="control-group")
            label(class="control-label") Eメールアドレス
            div(class="controls")
              input(name="email",type="text")

          div(class="control-group")
            div(class="controls")
              input(type="submit", class="btn btn-primary", value="アップロード")
              input(type="reset", class="btn", value="reset")

      div(class="span6")
        div(class="preview-area")

  != js('lib/jquery-1.8.3.js')
  != js('lib/bootstrap')
  != js('new')

